---
import Twemoji from "../../components/Twemoji.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";
---

<BaseLayout title="Cryptobox Tech Blog">
  <article
    class="prose prose-lg bg-slate-100 my-4 max-w-full sm:p-6 sm:rounded-md"
  >
    <div class="bg-white p-6 rounded-md">
      <a
        class="w-fit flex items-center gap-2 no-underline text-slate-700 hover:text-slate-500"
        href="/"
        ><Twemoji class="m-0 w-6 h-6" emoji="👈" /><p class="m-0">
          Back To HOME
        </p></a
      >
      <p>🚧工事中🚧</p>
    </div>
  </article>
</BaseLayout>
