---
import { getCollection } from "astro:content";
import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tags from "../../components/Tags.astro";
import Profile from "../../components/Profile.astro";
import PostPreview from "../../components/PostPreview.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts, tags: uniqueTags },
    };
  });
}
const { posts, tags } = Astro.props;
---

<BaseLayout title="Cryptobox Tech Blog">
  <div class="sm:grid sm:grid-cols-[70%_1fr] sm:gap-4 my-4">
    <div class="flex flex-col gap-4 mx-4 sm:mx-auto">
      {
        posts.map((post) => (
          <PostPreview
            post={post}
            blogLinkPrefix="/blog/"
            tagLinkPrefix="../"
          />
        ))
      }
      <Tags class="sm:hidden flex" tags={tags} />
      <Profile class="sm:hidden flex" />
    </div>
    <div>
      <Profile class="hidden sm:flex" />
      <Tags class="hidden sm:flex mt-4" tags={tags} />
    </div>
  </div>
</BaseLayout>
