---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const { title } = Astro.props;
---

<BaseLayout>
  <div>aaaaaa</div>
</BaseLayout>
