---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Twemoji from "../components/twemoji.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout>
  <div class="flex flex-col gap-4 my-60">
    {
      posts.map((post) => (
        <div class="w-full h-48 p-6 rounded-xl bg-slate-100">
          <h2 class="text-2xl font-bold">
            {post.data.title}
            <Twemoji emoji="👋" />
          </h2>
        </div>
      ))
    }
  </div>
</BaseLayout>
