<section
  class="sm:hidden flex items-center flex-col gap-3 w-full p-6 rounded-xl bg-slate-100"
>
  <img
    class="rounded-full"
    width="160px"
    height="160px"
    decoding="async"
    loading="lazy"
    src="/jigazou.png"
    alt="ブログ運営者の自画像"
  />
  <div class="w-32 h-2 rounded-md bg-slate-300"></div>
  <p>
    フロントエンドエンジニア。趣味を登山と言い張るが実際には2座しか登ったことがない
  </p>
  <div>
    <a
      class="underline"
      target="_blank"
      rel="noreferrer noopener"
      href="https://x.com/cryptooooon">X</a
    >
    <span>/</span>
    <a
      class="underline"
      target="_blank"
      rel="noreferrer noopener"
      href="https://zenn.dev/cryptobox">Zenn</a
    >
    <span>/</span>
    <a
      class="underline"
      target="_blank"
      rel="noreferrer noopener"
      href="https://qiita.com/cryptobox">Qiita</a
    >
    <span>/</span>
    <a
      class="underline"
      target="_blank"
      rel="noreferrer noopener"
      href="https://github.com/crypt0box">Github</a
    >
  </div>
</section>
