---
import { Image } from "astro:assets";
import profileImage from "../assets/jigazou.png";
const { class: className, ...rest } = Astro.props;
---

<section
  class:list={[
    className,
    "items-center flex-col gap-3 w-full p-6 rounded-xl bg-slate-100",
  ]}
  {...rest}
>
  <!--class="sm:hidden flex" >-->
  <Image
    class="rounded-full"
    width={160}
    height={160}
    loading="eager"
    src={profileImage}
    alt="ブログ運営者の自画像"
  />
  <div class="w-32 h-2 rounded-md bg-slate-300"></div>
  <p>ミステリー愛好家のエンジニア。フロントエンドが好き</p>
  <div>
    <a
      class="underline"
      target="_blank"
      rel="noreferrer noopener"
      href="https://x.com/cryptooooon">X</a
    >
    <span>/</span>
    <a
      class="underline"
      target="_blank"
      rel="noreferrer noopener"
      href="https://zenn.dev/cryptobox">Zenn</a
    >
    <span>/</span>
    <a
      class="underline"
      target="_blank"
      rel="noreferrer noopener"
      href="https://qiita.com/cryptobox">Qiita</a
    >
    <span>/</span>
    <a
      class="underline"
      target="_blank"
      rel="noreferrer noopener"
      href="https://github.com/crypt0box">Github</a
    >
  </div>
</section>
