---
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";

interface Props extends HTMLAttributes<"section"> {
  posts: CollectionEntry<"blog">[];
}
const { class: className, posts, ...rest } = Astro.props;
---

<section
  class:list={[className, "flex-col gap-4 p-6 bg-slate-100 rounded-xl"]}
  {...rest}
>
  <h2 class="pl-2 border-l-4 border-slate-300 font-bold text-lg text-slate-600">
    Tags
  </h2>
  <ul class="flex gap-2">
    {
      Array.from(new Set(posts.flatMap((post) => post.data.tags))).map(
        (tag) => (
          <li>
            <a
              class="rounded-md p-1 px-2 text-slate-600 font-bold bg-slate-300 hover:bg-slate-400"
              href={tag}
            >
              {tag}
            </a>
          </li>
        ),
      )
    }
  </ul>
</section>
