---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import LinkButton from "../components/LinkButton.astro";
import { Icon } from "astro-icon/components";
import { profileConfig } from "../config";
import { MobileNav } from "../components/MobileNav";

type Props = {
  title: string;
  slug?: string;
};
const title = Astro.props.title;
const slug = Astro.props?.slug;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} slug={slug} />
  </head>
  <div
    class="grid grid-rows-[auto_1fr_auto] grid-cols-[100%] mx-auto px-4 max-w-[1200px] min-h-screen bg-slate-200"
  >
    <img
      class="fixed right-0 w-screen"
      src="/banner.png"
      alt="banner image"
      decoding="async"
      loading="lazy"
    />
    <header class="relative min-h-14 bg-slate-100 rounded-b-xl p-4 z-20">
      <h1 class="absolute font-bold">Cryptobox Tech Blog</h1>
      <nav class="hidden sm:flex sm:justify-center">
        <ul class="flex gap-4">
          <li>
            <LinkButton to="/">HOME</LinkButton>
          </li>
          <li>
            <LinkButton to="/">ABOUT</LinkButton>
          </li>
          <li>
            <LinkButton to="/">CONTACT</LinkButton>
          </li>
        </ul>
      </nav>
      <MobileNav client:only="react" />
      <div class="hidden sm:block absolute right-6 top-2">
        <ul class="flex gap-2">
          {
            profileConfig.links.map((link) => (
              <li>
                <a
                  class="block p-2 rounded-full hover:bg-slate-300"
                  href={link.to}
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <Icon name={link.icon} size="24" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </header>
    <main class="z-10"><slot /></main>
    <Footer class="z-10" />
  </div>

  <script></script>
</html>
