---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import LinkButton from "../components/LinkButton.astro";
import { Icon } from "astro-icon/components";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title="aaa" />
  </head>
  <div
    class="grid grid-rows-[auto_1fr_auto] grid-cols-[100%] mx-auto px-4 max-w-[1200px] min-h-screen bg-slate-200"
  >
    <img
      class="fixed right-0 w-screen"
      src="/banner.png"
      alt="banner image"
      decoding="async"
      loading="lazy"
    />
    <header class="relative min-h-14 bg-slate-100 rounded-b-xl p-4 z-10">
      <h1 class="absolute font-bold">Cryptobox Tech Blog</h1>
      <nav class="hidden sm:flex sm:justify-center">
        <ul class="flex gap-4">
          <li>
            <LinkButton to="/">HOME</LinkButton>
          </li>
          <li>
            <LinkButton to="/">ABOUT</LinkButton>
          </li>
          <li>
            <LinkButton to="/">CONTACT</LinkButton>
          </li>
        </ul>
      </nav>
      <div class="absolute right-6 top-2">
        <ul class="flex gap-6">
          <li>
            <a class="block p-2 rounded-full hover:bg-slate-200" href="aaa"
              ><Icon name="zenn-logo" size="24" /></a
            >
          </li>
          <li><Icon name="zenn-logo" size="24" /></li>
          <li><Icon name="zenn-logo" size="24" /></li>
        </ul>
      </div>
    </header>
    <main class="z-10"><slot /></main>
    <Footer class="z-10" />
  </div>

  <script></script>
</html>
