---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"] & {
  slug: CollectionEntry<"blog">["slug"];
};

const { title, pubDate, updatedDate, heroImage, slug } = Astro.props;
---

<html lang="ja">
  <body>
    <article class="prose prose-lg bg-slate-100 my-4 p-6 rounded-md max-w-full">
      <!--<div class="hero-image">
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
      </div>-->
      <div class="bg-white p-6 rounded-md">
        <div class="title">
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </body>
</html>
