---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { format } from "date-fns";
import EmojiLabel from "../components/EmojiLabel.astro";
import Twemoji from "../components/Twemoji.astro";
import LinkButton from "../components/LinkButton.astro";

type Props = CollectionEntry<"blog">["data"] & {
  slug: CollectionEntry<"blog">["slug"];
};

const { title, pubDate, updatedDate, heroImage, slug } = Astro.props;
---

<html lang="ja">
  <body>
    <article
      class="prose prose-lg bg-slate-100 my-4 max-w-full sm:p-6 sm:rounded-md"
    >
      <div class="bg-white p-6 rounded-md">
        <a
          class="w-fit flex items-center gap-2 no-underline text-slate-700 hover:text-slate-500"
          href="/"
          ><Twemoji class="m-0 w-6 h-6" emoji="👈" /><p class="m-0">
            Back To HOME
          </p></a
        >
        <div class="title">
          <div class="date">
            {format(pubDate, "yyyy/MM/dd")}
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <div
            class="flex justify-center items-center mx-auto p-10 bg-slate-200"
          >
            <Twemoji class="w-20 h-20" emoji={heroImage} />
          </div>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </body>
</html>
